.parentContainer {
  display: flex;
  flex-direction: column;
  margin-top: 170px;
}

.chooseClass {
  color: var(--Pure-White, #fff);
  font-family: Inter;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 143.023%; /* 77.232px */
  text-align: center;
}

.headertitle{
    position: relative;
   
}

.img1{
    
}

.img2{
    position: absolute;
    left: 25px;
    top: 25px;
}

.divChild2 {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  margin-top: 98px;
}

.card1 {
  width: 359px;
  height: 377px;
  border-radius: 14px;
  border: 1.4px solid rgba(255, 255, 255, 0.1);
  padding-left: 24px;
  padding-top: 28px;
  background-color: #1d1d1d;
}
