:root{
--pure-white:#FFF;
}

*,*::before,*::after{
  box-sizing: border-box;
}

*{
  margin: 0;
}

html,body{
  height: 100%;
  /* font-size: 92.5%; */
}

body{
  overflow-x: hidden;
}

img,svg{
  max-width: 100%;
  display: block;
}

.swiper-slide{
  width: auto !important;
  
}




